.sub-heading {

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 15.5778px;
      line-height: 23px;
      margin-bottom: 0;
      color: var(--color-yellow);
}

.main-heading {

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 31.1556px;
      line-height: 47px;
      /* identical to box height */


      color: var(--color-black);
}