.app__testimonials {
      margin-top: 90px;
      position: relative;
}

.app__testimonials>.heading {
      text-align: center;
      margin-bottom: 40px;
}

.app__testimonials .box1 {
      position: absolute;
      z-index: 1;
      left: 0px;
}

.app__testimonials .box2 {
      position: absolute;
      z-index: 1;
      right: 6rem;
}